@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@400;600&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.125rem;
	background-color: #333;
}

h1, h2, h3 {
	font-family: 'Soure Serif Pro', serif;
}

.container {
	margin: 0 auto;
	width: 100%;
	background-color: #fafafa;
}

.circle-container {

}

.text-container {
	margin: 0 auto;
	max-width: 50rem;
	padding: 3rem 5rem;	
}

h1, h2, h3, p, small, img {
	padding: 1rem 0 0;
}

img {
	max-width: 100%;
}