:root {

    /* Colors */
    --primary-color: #00ADB5;
    --secondary-color: #393E46;
    --light-color: #EEEEEE;
    --dark-color: #222831;

    /* Typography */

    --primary-font: 'Source Serif Pro', serif;
    --secondary-font: 'Lato', sans-serif;
    --special-font: 'Staatliches', cursive;

}


/* Base Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: var(--primary-font);
}

h1, h2, h3, h4, h5, h6,
label, th, button, input[type="submit"] {
    font-size: 1.125rem;
    font-weight: 400;
    font-family: var(--secondary-font);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}


/* Navbar Section */


.navbar {
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 80%;
    font-size: 3rem;
    color: var(--secondary-color);
    font-family: var(--special-font);
}

.navbar-social {
    width: 20%;
    display: flex;
}

.navbar-social ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-social ul li {
    list-style: none;
}

.navbar-social ul li a {
    padding: 0 0.5rem;
}

/* Hero Section */

.hero {
    height: calc(400px + 15vw);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    padding: 1rem;
}

.hero-cta {
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    gap: 1rem;
}

#hero-heading-line-2 {
    display: block;
}


/* Utilities */

.container {
    width: 70%;
    margin: 0 auto;
}

.btn-primary {
    grid-column: 2/3;
    justify-self: center;
    align-self: center;  
    width: 50%;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--light-color);
}

.btn-secondary {
    grid-column: 3/4;
    justify-self: center;
    align-self: center; 
    width: 50%;
    padding: 1rem;
    background-color: var(--dark-color);
    color: var(--light-color);
}


/* Media Queries */

@media screen and (max-width: 768px) {

    .navbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .navbar .logo {
        width: 100%;
        font-size: 2rem;
        color: var(--secondary-color);
        font-family: var(--special-font);
        text-align: center;
        padding: 0.5rem;
    }
    
    .navbar-social {
        width: 100%;
        display: flex;
        padding: 0.5rem;
    }
    
    .navbar-social ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .navbar-social ul li {
        list-style: none;
    }
    
    .navbar-social ul li a {
        padding: 0 0.5rem;
    }

    .navbar-social ul li a i {
        font-size: 1rem;
    }
    
}