* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#display-table {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

input[type="submit"] {
	background-color: skyblue;
	color: #333;
	font-size: 18px;
}

input[type="submit"]:hover {
	background-color: steelblue;
	color: #fafafa;
}