
/* Import Noto Serif and Poppins Fonts from Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  /* CSS Variables */

  :root {
    --primary-color: #5FA7AB;
    --secondary-color: #353535;
    --light-color: #FFFFFF;
  }


  /* CSS Reset */

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  /* Font Styles */

  body, p, input, select, a, li {
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5;
  }

  h1, h2, h3 {
    font-family: 'Noto Serif', serif;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2.75rem;
  }

  h1.medium {
    font-size: 2rem;
  }

  h1.small {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h2.medium {
    font-size: 1.25rem;
  }

  h2.small {
    font-size: 1.125 rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  p, li {
    margin-bottom: 1rem;
  }

  label {
    font-size: 1.5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
  }

  /* Container */

  .container {
    width: 80%;
    margin: 0 auto;
  }

  /* Element Styles */

  body {
    background-color: var(--light-color);
    color: var(--secondary-color);
    overflow: hidden;
  }

  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: ;
  }

  .focus {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    padding: 0.8rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light-color);
  }


  .question {
    font-size: 2.5rem;
    margin-bottom: 2rem;;
  }

  .input-control {
    margin-top: 2rem;
  }

  input {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 2px solid var(--secondary-color);
  }

  input:focus {
    outline: none;
    border-bottom: 2px solid var(--primary-color);
  }

  input[type="radio"],
  input[type="checkbox"] {
    width: 2rem;
    display: inline-block;
  }

/*  Hiding default values of input elements

input[attribute = "value"] {display: none;}

*/

  input::placeholder {
    font-size: 0.75rem;
  }

  .btn {
    text-decoration: none;
    margin: 0 0.5rem;
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    border-radius: 0.5rem;
    padding: 0.375rem 1.125rem;
    box-shadow: 2px 4px 2px #386264;
  }

  .btn a {
    text-decoration: none;
    color: var(--light-color);
  }

  .btn:hover {
    background-color: #386264;
    cursor: pointer;    
  }

  .btn:active {
    background-color: var(--primary-color);
    box-shadow: inset 2px 4px 2px #386264;
  }

  .btn[disabled] {
    background-color: #a3a3a3;
    color: #353535;
    box-shadow: 2px 4px 2px #353535;
    pointer-events: none;
    cursor: not-allowed;
  }

  /* Form Styles */

  #main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-group {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .input-rd-chkbx {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
  }

  .input-multi label {
    padding-left: 0;
    font-size: 1rem; 
  }

  .input-multi input {
    display: block;
    width: 80%;
    padding: 0 0.5rem;
    border: 1px solid #353535;
    border-radius: 6px;
    font-size: 1rem;
  }

  .input-multi input:focus {
    border: 1px solid #5FA7AB;
  }
   
/* Media Queries*/

@media screen and (max-width: 760px) {
  .container {
    width: 85%;
  }

  h1 {
    margin-bottom: 0;
    padding: 0.5rem 0;
  }

  p, li {
    font-size: 1rem;
  }
}